{% extends "SdzBlogBundle::layout.html.twig" %}
 
{% block title %}
	{{ parent() }} : {{ title }}
{% endblock %}
 
{% block sdzblog_body %}
	<h2>{{ title }}</h2>
 
	{% include "SdzBlogBundle:Blog:formulaire.html.twig" %}
{% endblock %}
