{% if not loop.last and not loop.index is divisibleby(nbMaxEntitiesByPage) %}
	<div class="row separe-row">
{% else %}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="row separe-row">
	{% else %}
		<div class="row">
	{% endif %}
{% endif %}
{% include targetView %}
</div>
