{% extends "::layout.html.twig" %}

{% block title %}
  {{ 'title.realizations'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
	<div id="realisations">
		<div class="titre">
			<h1>{{ 'menu.realizations'|trans }}</h1>
			<hr>
		</div>
		<p>
			</h2>{{ 'realisation.empty'|trans }}</h2>
		</p>
	</div>
{% endblock %}
