<div class="videos">
{# 	<p class="notice">{{ 'activity.vodeos'|trans }}</p>#}
{# 	<ul class="work">#}
{# 		{% for video in bean.videos %}#}
{# 			{% if video.image %}#}
{# 				<li class="boxgrid captionfull">#}
{# 					<span class="small pop2" data-bpopup='<object data="../../../../../../web/Larecrue.avi" type="video/x-msvideo" height="300" width="500"> #}
{# 							<param name="src" value="../../../../../../web/Larecrue.avi" />#}
{# 							<param name="autoplay" value="true" /> #}
{# 							<param name="autoStart" value="0" /> #}
{# 							alt : <a href="video.avi">video.avi</a> #}
{# 						</object>'>#}
{# 					<img src="logo_asso.png" alt="messi_louis.txt"/></span>#}
{# 				</li>#}
{# 			{% endif %} #}
{# 		{% endfor %}#}
{# 	</ul>#}
</div>
